.gray-bg {
  padding: 60px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header h3 {
  color: #000000;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.section-header p {
  color: #555;
}

.pricing-box {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: space-between;
}

.pricing-box .pricing-head {
  background: #179d46;
  padding: 20px;
  text-align: center;
}

.pricing-box h4 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.pricing-box h1 {
  font-size: 16px;
  color: #cecece;
}

.pricing-box h6 {
  font-size: 10px;
  color: white;
  text-transform: uppercase;
}

.pricebox1 {
  margin-right: -60px;
  position: relative;
  z-index: 1;
}

.pricebox2 {
  position: relative;
  z-index: 2;
  transform: scale(1.1);
}

.pricebox3 {
  margin-left: -25px;
  position: relative;
  z-index: 1;
}

.pricing-body {
  padding: 20px 0 0px 0;
  display: inline-block;
  width: 100%;
}

.pricing-body ul {
  margin: 0;
  padding: 20px;
  padding-top: 0;
}

.row.pricing-col {
  align-items: center;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.pricing-body ul li {
  font-size: 14px;
}

.pricing-body a {
  position: relative;
  text-align: center;
  display: block;
  background: #179d46;
  padding: 10px;
  color: #fff;
  z-index: 2;
  font-weight: bold;
  margin: 0 auto 20px;
  text-transform: uppercase;
  width: 70px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}

a:hover {
  text-decoration: none;
}
.pricing-body a:before {
  position: absolute;
  left: -30px;
  width: 10px;
  height: 10px;
  background: #179d46;
  content: " ";
  border-radius: 50%;
  opacity: 0.7;
}

.pricing-body a:after {
  opacity: 0.7;
  position: absolute;
  right: -30px;
  width: 10px;
  height: 10px;
  background: #179d46;
  content: " ";
  border-radius: 50%;
}
.pricing-body a:last-child {
  position: relative;
  margin-top: -90px;
  z-index: 1;
}
.pricing-body a:last-child:before {
  position: absolute;
  left: -55px;
  width: 7px;
  height: 7px;
  background: #000;
  content: " ";
  border-radius: 50%;
  opacity: 0.3;
}

.pricing-body a:last-child:after {
  opacity: 0.3;
  position: absolute;
  right: -55px;
  width: 7px;
  height: 7px;
  background: #000;
  content: " ";
  border-radius: 50%;
}
